@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Pacifico&display=swap');

* {
  font-family: 'Amatic SC', cursive;
  margin: 10px;
}

h1 {
	font-family: 'Pacifico', cursive;
}

div {
	margin-top: 50px;
	margin-bottom: 50px;
}

header {
	margin-top: 100px;
	margin-bottom: 100px;
}